<div class="git-hub-search">
    <form name="searchForm">
        <input type="search" class="form-control" placeholder="{{ 'gitHubSearch.searchTermPlaceholder' | translate }}" ng-model="gitHubSearch.searchTerm" ng-model-options="{ debounce: { default: 500 } }">
    </form>

    <p ng-show="gitHubSearch.updating">{{ 'gitHubSearch.updating' | translate }}</p>

    <ul>
        <li ng-repeat="repo in gitHubSearch.repositories track by repo.id">
            {{repo.name}}
        </li>
    </ul>
</div>
