<div class="git-hub-search">
    <form name="searchForm">
        <input type="search" class="form-control" placeholder="{{ 'gitHubSearch.searchTermPlaceholder' | translate }}" ng-model="gitHubSearch.searchTerm" ng-model-options="{ debounce: { default: 500 } }">
    </form>

    <p class="git-hub-search-load-indicator" ng-show="gitHubSearch.updating">{{ 'gitHubSearch.updating' | translate }}</p>

    <table class="table table-striped git-hub-search-result-list">
        <tbody>
            <tr ng-repeat="repo in gitHubSearch.repositories track by repo.id">
                <td><a ng-href="{{::repo.html_url}}" target="_blank">{{::repo.name}}</a></td>
                <td>{{::repo.owner.login}}</td>
                <td ng-click="gitHubSearch.showReadme(repo)">{{::repo.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
