<div class="git-hub-search">
    <form name="searchForm">
        <input type="search" class="form-control" placeholder="{{ 'gitHubSearch.searchTermPlaceholder' | translate }}" ng-model="gitHubSearch.searchTerm" ng-model-options="{ debounce: { default: 500 } }">
    </form>

    <div class="git-hub-search-load-indicator" ng-show="gitHubSearch.updating">
        {{ 'gitHubSearch.updating' | translate }}
    </div>

    <ul class="list-unstyled git-hub-search-result-list">
        <li class="git-hub-search-result" ng-repeat="repo in gitHubSearch.repositories track by repo.id">
            <div class="git-hub-search-result-owner">
                <img ng-src="{{::repo.owner.avatar_url}}">
                {{::repo.owner.login}}
            </div>
            <div class="git-hub-search-result-repo" ng-mouseenter="gitHubSearch.onMouseEnterDescription(repo)" ng-mouseleave="gitHubSearch.onMouseLeaveDescription()">
                <p>
                    <a ng-href="{{::repo.html_url}}" target="_blank">{{::repo.name}}</a>
                </p>

                <p class="git-hub-search-result-description">
                    {{::repo.description}}
                </p>

                <p>
                    <a href="#" ng-click="gitHubSearch.showReadme($event, repo)">README</a>
                    <a href="#" ui-sref="app.repository({ owner: repo.owner.login, repo: repo.name })">Repo</a>
                </p>
            </div>
        </li>
    </ul>
</div>
