@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";

body {
  font-family: Roboto, sans-serif;
}

.application-header {
  background: #004d9f url("../images/ti8m-logo.svg") no-repeat left ($grid-gutter-width / 2) bottom ($font-size-h1 * 0.46) / auto $font-size-h1;
  color: #fff;
  font-weight: 300;
  height: $header-height;
  padding-left: 9em;
}
